.wrap {
  width: 1024px;
  height: 1030px;
  margin: 0 auto;
  padding: 0 47px;
}

.progress-bar {
  /* outline: 3px solid yellow; */
  width: 680px;
  height: 99px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
  margin-bottom: 35px;
}

.progress-bar h1 {
  color: #173060;
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 15px;
}

.progress {
  /* outline: 3px solid red; */
  height: 39px;
  width: 680px;
  display: flex;
  justify-content:center;
  align-items:center;
}

.point {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.point-blue {
  background-color: #62A1D2;
}

.point-gray {
  background-color: #B3ABA6;
}

.line {
  width: 327px;
  height: 0;
  z-index: -1;
}

.line-gray {
  border: 3px solid #B3ABA6;
}

.line-blue {
  border: 3px solid #B3ABA6;
}

.step-word {
  height: 20px;
  color: #B3ABA6;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold;  
  font-size: 14px;
  line-height: 20px;
  /* margin-left: 92px; */
  padding-top: 8.5px;
  text-align: center;
}

.order-content h2 {
  font-family: 'Noto Sans TC', sans-serif;
  color: #62A1D2;
  font-size: 22px;
  line-height: 33px;
  font-weight: bold;
  margin-bottom: 10px;
}

.products-content {
  width: 930px;
  height: 411px;
  border: 2px solid #62A1D2;
  border-radius: 10px 10px;
  padding: 20px 29px 22px 20px;
}

.triangle-box {
  display: flex;  
  justify-content:center;
  height: 10px;
  width: 930px;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 15px 0 15px;
  border-color: #62A1D2 transparent transparent transparent;
}

.order-no {
  font-family: 'Noto Sans TC', sans-serif;
  color: #505050;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 23px;
}